In [6]:
mydata = read.csv("C:\\Users\\Vasanti\\Desktop\\NEUdocs\\Studymaterial\\ADS\\Inclass_excercise\\DataSheet.csv")
mydata

#1) Min, Max, Median, Avg for GPA and YearofWorkExp
min_gpa <- min(mydata[,2])
min_gpa

max_gpa <- max(mydata[,2])
max_gpa

median_gpa <- median(mydata[,2])
median_gpa

avg_gpa <- mean(mydata[,2]) 
avg_gpa

min_years_of_exp <- min(mydata[,3])
min_years_of_exp

max_years_of_exp <- max(mydata[,3])
max_years_of_exp

median_years_of_exp <- median(mydata[,3])
median_years_of_exp

avg_years_of_exp <- mean(mydata[,3]) 
avg_years_of_exp

#2) Find the mode of the Salary
# mode for expected salary
getmode <- function(v) {
  uniqv <- unique(v)
  uniqv[which.max(tabulate(match(v, uniqv)))]
}
  
mode_exp_salary <- getmode(mydata[,9])
print(mode_exp_salary)

# mode for latest salary

mode_latest_salary <- getmode(mydata[,4])
print(mode_latest_salary)

#3) % of students having Co/op and not having Co/op
#install.packages("plyr", repos='http://cran.us.r-project.org')
library(plyr)
# since yes is written in two forms "y" and "Y", it would consider them different
count(mydata, "Coops.Internships..YN.")

# to convert "y" into "Y"
mydata$Coops.Internships..YN.<- as.character(mydata$Coops.Internships..YN.)
mydata$Coops.Internships..YN.[mydata$Coops.Internships..YN. == "y"] <- "Y"
# it is now tranformed and we would get the count if "Y" and "N"
dataframe <- count(mydata, "Coops.Internships..YN.")
#calculate the total number of instances 
length <- length(mydata$Coops.Internships..YN.)
length
#calcualte the percentage
dataframe$percentage <- with(dataframe,freq/length * 100)
dataframe


#4) No of students with more than 500 LinkedIn contacts

number_of_students_gretaer_than_500_conatcts <-nrow(filter(mydata, mydata$Number.of.contacts.on.Linkedin > 500))
number_of_students_gretaer_than_500_conatcts

#5) Find the Inter Quartile Range for the Expected Salalry Range?
inter_quartile_range = mydata$Expected.Salary.after.graduation
iqr<-IQR(inter_quartile_range)
iqr

   No GPA  Years.of.work.experience Latest.salary..per.year. Highest.GPA
1   1 3.50 2.5                      45000                    3.50
2   3 3.80 1.0                      65000                    3.60
3   4 3.80 2.0                      85000                    4.00
4   5 3.41 1.5                      10000                    3.41
5   6 3.33 5.0                      70000                    3.67
6   7 3.52 2.5                      27000                    3.58
7   8 3.50 2.0                      40000                    3.70
8   9 3.50 5.0                      75000                    3.53
9  10 3.60 2.5                      65000                    3.90
10 11 3.20 4.0                      62000                    3.80
11 12 3.50 2.0                      60000                    3.50
12 13 3.67 1.8                      60000                    4.00
13 14 3.50 2.0                      60000                    3.70
14 15 3.47 2.5                      70000                    3.64
15 16 3.06 1.3                      40000                    3.64
16 17 3.27 2.0                      60000                    4.00
17 18 3.53 4.0                      50000                    4.00
18 19 4.00 4.0                      50000                    4.00
19 20 3.40 1.0                      30000                    3.60
20 21 3.54 1.0                      40000                    4.00
21 22 3.50 2.0                      75000                    4.00
22 23 3.50 4.0                      50000                    3.80
23 24 3.40 3.0                      50000                    3.80
24 26 3.30 4.0                      65000                    4.00
25 27 3.90 6.0                      90000                    4.00
26 28 3.17 1.0                      50000                    3.30
27 29 3.48 3.5                      60000                    4.00
28 30 3.93 4.0                      43000                    4.00
29 31 3.43 4.0                      60000                    3.50
30 32 3.33 5.0                       5000                    3.66
31 33 3.60 1.5                      60000                    3.70
32 34 3.80 3.0                      65000                    3.80
33 35 3.50 3.0                      65000                    4.00
34 36 3.39 2.0                      60000                    3.80
   Lowest.GPA Coops.Internships..YN. Number.of.contacts.on.Linkedin
1  3.50       N                      250
2  3.00       Y                      400
3  3.60       Y                      500
4  3.33       N                      365
5  3.00       Y                      400
6  3.52       N                      230
7  3.30       N                      250
8  3.30       Y                      260
9  3.10       Y                      250
10 3.00       N                      525
11 3.50       N                      400
12 3.00       N                      920
13 3.30       y                      300
14 3.37       Y                      310
15 2.67       Y                      550
16 3.00       Y                      350
17 3.30       N                      600
18 4.00       Y                      500
19 3.10       N                      500
20 3.42       Y                      650
21 3.00       Y                      515
22 3.20       Y                      350
23 3.20       Y                      301
24 3.65       Y                      700
25 3.80       Y                      809
26 3.00       N                      258
27 3.33       Y                      350
28 3.28       Y                      900
29 3.30       Y                      220
30 3.00       Y                      183
31 3.40       Y                      340
32 3.50       Y                      800
33 3.60       Y                      400
34 3.20       Y                      500
   Expected.Salary.after.graduation
1   90000
2  100000
3   90000
4  100000
5  100000
6   85000
7   90000
8  100000
9  110000
10 105000
11  85000
12 140000
13  90000
14  95000
15 120000
16 100000
17  88000
18 130000
19  80000
20  95000
21  80000
22 110000
23  90000
24 100000
25 120000
26 100000
27 100000
28 100000
29 110000
30 100000
31 100000
32  80000
33  80000
34  90000

[1] 3.06

[1] 4

[1] 3.5

[1] 3.509706

[1] 1

[1] 6

[1] 2.5

[1] 2.811765

[1] 100000
[1] 60000

Warning message:
"package 'plyr' is in use and will not be installed"

  Coops.Internships..YN. freq
1 N                      10
2 y                       1
3 Y                      23

[1] 34

  Coops.Internships..YN. freq percentage
1 N                      10   29.41176
2 Y                      24   70.58824

Warning message in data.matrix(data):
"NAs introduced by coercion"

[1] 34

[1] 10000